@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #41a365;
  --secondary: rgb(134, 214, 163);
  --ternary: #34b7f1;
  --white: #fff;
  --dark: #000;
  --gray: #756d6d;
}

/* ------------------------------ SUCCESS MODAL ---------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

/* Add a new keyframe animation for the popup */
@keyframes popup {
  from {
    opacity: 0;
    transform: scaleX(0) scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}

/* Apply animation to the modal content for popup */
.success-modal-content.popup {
  animation: popup 0.2s forwards;
  transition: all 0.2s ease-in-out;
}

/* Add a new keyframe animation for the popclose */
@keyframes popclose {
  from {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleX(0) scaleY(0);
  }
}

/* Apply animation to the modal content for popclose */
.success-modal-content.popclose {
  animation: popclose 0.2s forwards;
  transition: all 0.2s ease-in-out;
}

/* Success Modal Css */

.success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 22, 26, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

/* Add fade-in animation to the modal overlay */
.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.success-modal-content {
  background-color: var(--ternary);
  padding: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

/* Adjust properties for when modal content is active */
.success-modal-content.active {
  opacity: 1;
  transform: scaleX(1) scaleX(1);
}
