@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************UPDATE PRODUCT INFO SECTION**********************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* Product Info Update Css */

#ProductInfoUpdate {
  background-color: #f6f6f6;
  width: 100%;
}

#ProductInfoUpdate label {
  font-weight: 500;
}

#ProductInfoUpdate form {
  background-color: #fff;
  padding: 20px;
  width: 150%;
  box-shadow: 0px 0px 2px 2px var(--gray);
}

#ProductInfoUpdate .inputField {
  padding: 8px 8px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--gray);
  margin: 10px;
  width: 50%;
  margin-left: 20px;
  max-width: 400px; /* Adjusted max-width */
}

#ProductInfoUpdate .uploadField {
  display: flex;
  align-items: center;
}

#ProductInfoUpdate .uploadBtn {
  background-color: var(--ternary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

#ProductInfoUpdate .uploadBtn:hover {
  background-color: var(--secondary);
  transition: all 0.3s ease;
}

#ProductInfoUpdate .previewImage {
  max-width: 20%;
  max-height: 200px;
  margin-top: 10px;
  border-radius: 5px;
  margin: 20px;
}

#ProductInfoUpdate .btn {
  padding: 12px 45px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: var(--ternary);
  color: white;
  border: none;
  cursor: pointer;
  width: 90%;
}

#ProductInfoUpdate .btn:hover {
  background-color: var(--secondary);
}

#ProductInfoUpdate .errorBtn {
  padding: 8px 10px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: var(--ternary);
  color: white;
  border: none;
  cursor: pointer;
}

#ProductInfoUpdate .errorBtn:hover {
  background-color: var(--secondary);
}

#ProductInfoUpdate .successBtn {
  padding: 8px 10px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: var(--ternary);
  color: white;
  border: none;
  cursor: pointer;
}

#ProductInfoUpdate .successBtn:hover {
  background-color: var(--secondary);
}

/* Product Info Update Css */
