@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************LADIES ORDER INFO SECTION************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* Ladies Order Info Css */

#LadiesOrderInfo {
  height: 100%;
  margin: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* Ladies Order Info Css */
