@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************ADMIN SECTION************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* Admin Css */

#Admin {
  display: flex;
}

#Admin .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Admin Css */
