@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************LADIES CHECKOUT SECTION**************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* ladies CheckOut Css */

#LadiesCheckOut {
  margin-top: 100px;
  overflow-x: hidden;
}

#LadiesCheckOut .container {
  border: 2px solid black;
  padding: 20px 20px;
}

#LadiesCheckOut td {
  font-weight: 500;
}

#LadiesCheckOut .ladiesOrderBtn {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-size: medium;
  width: 50%;
}

#LadiesCheckOut .ladiesOrderBtn:hover {
  transition: all 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--secondary);
}

.custom-alert-container {
  position: fixed;
  top: 5px;
  margin-left: 450px;
  z-index: 9999;
}

.alert-content {
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 0px 2px 5px var(--secondary);
  color: var(--dark);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--dark);
}

.alertBtn {
  padding: 5px 50px;
  background-color: var(--primary);
  color: var(--white);
}

.alertBtn:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary);
  color: var(--dark);
}
/* Ladies CheckOut Css */
