@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************ADMIN SIDEBAR SECTION****************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* SideBar Css */
#Sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  gap: 20px;
  width: 100%;
  max-width: 250px;
  height: 100vh;
}

#Sidebar .sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #f6f6f6;
  gap: 20px;
  cursor: pointer;
  margin-left: -20px;
}

#Sidebar .sidebar-item p {
  margin-top: 15px;
}

/* Active class styling */
#Sidebar .nav-link.active .sidebar-item {
  background-color: var(--dark);
}

#Sidebar .nav-link.active .sidebar-item p {
  color: var(--white);
}

#Sidebar .nav-link.active .sidebar-item i {
  color: var(--white);
}
