@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************ADD PRODUCTS SECTION*****************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* Add Products Css */

#AddProducts {
  margin: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#AddProducts .input-group {
  width: 80%;
  margin: 15px;
}

#AddProducts input,
.input-group-text {
  background-color: var(--dark);
  border: none;
  gap: 40px;
  padding: 10px;
}

#AddProducts .fa-signature,
.fa-tag,
.fa-user-friends,
.fa-upload,
.fa-plus {
  color: var(--ternary);
  font-size: 1rem;
}

#AddProducts input {
  color: var(--white);
  font-size: 0.9rem;
}

#AddProducts .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

#AddProducts .add-products-btn {
  background-color: var(--dark);
  border: none;
  gap: 20px;
  padding: 10px;
  width: 20%;
  margin-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
}

#AddProducts .add-products-btn:hover {
  background-color: var(--ternary);
  color: var(--dark);
  transition: 0.5s ease-in-out;
}

/* Add Products Css */
