@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #4bbb6b;
  --secondary: #9dc08b;
  --ternary: #00bcd4;
  --white: #fff;
  --dark: #000;
  --gray: #999;
}

/*********************************PRODUCTS LISTS SECTION***************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

/* Products List Css */

#ProductsList {
  height: 100vh;
  margin: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

#ProductsList .input-group {
  width: 50%;
  margin: 20px;
}

#ProductsList input,
.input-group-text {
  background-color: var(--dark);
  border: none;
  gap: 40px;
  padding: 10px;
}

#ProductsList .fa-search {
  color: var(--ternary);
  font-size: 1rem;
}

#ProductsList input {
  color: var(--white);
  font-size: 0.9rem;
}

#ProductsList .form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

#ProductsList .list-container {
  margin: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#ProductsList .list-container .title {
  background-color: var(--ternary);
  padding: 5px;
}

/* Products List Css */
