/* Gents Item Container Css */

#GentsItemContainer {
  margin-top: 50px;
  overflow-x: hidden;
}

#GentsItemContainer .gentsContainer:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(224, 215, 215);
}

#GentsItemContainer .pImg {
  width: 70%;
  aspect-ratio: 2/3;
  object-fit: contain; /* Adjust object-fit as needed */
  padding: 25px 10px;
}

#GentsItemContainer .pName,
.pPrice,
.pOnwards {
  color: #c3497d;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 991px) {
  #GentsITemContainer {
    overflow-x: hidden;
  }

  #GentsItemContainer .pImg {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain; /* Adjust object-fit as needed */
  }

  #GentsItemContainer .pName,
  .pPrice,
  .pOnwards {
    color: #c3497d;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  #GentsITemContainer {
    overflow-x: hidden;
  }

  #GentsItemContainer .pImg {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain; /* Adjust object-fit as needed */
  }

  #GentsItemContainer .pName,
  .pPrice,
  .pOnwards {
    color: #c3497d;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  #GentsITemContainer {
    overflow-x: hidden;
  }

  #GentsItemContainer .pImg {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain; /* Adjust object-fit as needed */
  }

  #GentsItemContainer .pName,
  .pPrice,
  .pOnwards {
    color: #c3497d;
    font-size: 1rem;
    font-weight: 500;
  }
}

/* Gents Item Container Css */

/* -------------------------------------------------------------------------- */

/* Gents Order Details Css */
#GentsOrderDetails {
  margin-top: 100px;
  overflow-x: hidden;
}

#GentsOrderDetails .container {
  border: 1px solid black;
}

#GentsOrderDetails .inputField {
  border: 1px solid green;
  width: 100%;
  padding: 8px 0px;
}

#GentsOrderDetails .sampleField {
  border: 1px solid green;
  width: 100%;
  padding: 5px 0px;
}

#GentsOrderDetails .form-control {
  border: 1px solid green;
  border-radius: 0px;
  padding: 8px 0px;
  color: var(--gray);
  font-weight: 400;
}

#GentsOrderDetails .gentsOrderBtn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-size: medium;
}

#GentsOrderDetails .gentsOrderBtn:hover {
  transition: all 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--secondary);
}

/* Gents Order Details Css */

/* -------------------------------------------------------------------------- */

/* Gents CheckOut Css */

#GentsCheckOut {
  margin-top: 100px;
  overflow-x: hidden;
}

#GentsCheckOut .container {
  border: 2px solid black;
  padding: 20px 20px;
}

#GentsCheckOut td {
  font-weight: 500;
}

#GentsCheckOut .gentsOrderBtn {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-size: medium;
  width: 50%;
}

#GentsCheckOut .gentsOrderBtn:hover {
  transition: all 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--secondary);
}

.alert-container {
  position: fixed;
  top: 5px;
  z-index: 999999;
}

.alert-content {
  background-color: var(--white);
  box-shadow: 0px 0px 2px 5px var(--secondary);
  color: var(--dark);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--dark);
  left: 400px;
}

.alertBtn {
  padding: 5px 50px;
  background-color: var(--primary);
  color: var(--white);
}

.alertBtn:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary);
  color: var(--dark);
}

/* @media (max-width: 991px) {
}

@media (max-width: 768px) {
} */

/* @media (max-width: 576px) {
  .custom-alert-container {
    top: 5px;
    margin-left: 250px;
    z-index: 9999;
  }

  .alert-content {
    text-align: center;
    background-color: var(--white);
    box-shadow: 0px 0px 2px 5px var(--secondary);
    color: var(--dark);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--dark);
  }

  .alertBtn {
    padding: 5px 50px;
    background-color: var(--primary);
    color: var(--white);
  }

  .alertBtn:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary);
    color: var(--dark);
  }
} */

/* Gents CheckOut Css */

/* -------------------------------------------------------------------------- */

/* Ladies Item Container Css */

#LadiesItemContainer {
  margin-top: 50px;
  overflow-x: hidden;
}

#LadiesItemContainer .ladiesContainer:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(224, 215, 215);
}

#LadiesItemContainer .pImg {
  width: 70%;
  aspect-ratio: 2/3;
  object-fit: contain; /* Adjust object-fit as needed */
  padding: 25px 10px;
}

#LadiesItemContainer .pName,
.pPrice,
.pOnwards {
  color: #c3497d;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 991px) {
  #LadiesItemContainer {
    overflow-x: hidden;
  }

  #LadiesItemContainer .pImg {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain; /* Adjust object-fit as needed */
  }

  #LadiesItemContainer .pName,
  .pPrice,
  .pOnwards {
    color: #c3497d;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  #LadiesItemContainer {
    overflow-x: hidden;
  }

  #LadiesItemContainer .pImg {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain; /* Adjust object-fit as needed */
  }

  #LadiesItemContainer .pName,
  .pPrice,
  .pOnwards {
    color: #c3497d;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  #LadiesItemContainer {
    overflow-x: hidden;
  }

  #LadiesItemContainer .pImg {
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain; /* Adjust object-fit as needed */
  }

  #LadiesItemContainer .pName,
  .pPrice,
  .pOnwards {
    color: #c3497d;
    font-size: 1rem;
    font-weight: 500;
  }
}

/* Ladies Item Container Css */

/* -------------------------------------------------------------------------- */

/* Ladies Order Details Css */
#LadiesOrderDetails {
  margin-top: 100px;
  overflow-x: hidden;
}

#LadiesOrderDetails .container {
  border: 1px solid black;
}

#LadiesOrderDetails .inputField {
  border: 1px solid green;
  width: 100%;
  padding: 8px 0px;
}

#LadiesOrderDetails .sampleField {
  border: 1px solid green;
  width: 100%;
  padding: 5px 0px;
}

#LadiesOrderDetails .form-control {
  border: 1px solid green;
  border-radius: 0px;
  padding: 8px 0px;
  color: var(--gray);
  font-weight: 400;
}

#LadiesOrderDetails .ladiesOrderBtn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-size: medium;
}

#LadiesOrderDetails .ladiesOrderBtn:hover {
  transition: all 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--secondary);
}
/* Ladies Order Details Css */

/* -------------------------------------------------------------------------- */

/* ladies CheckOut Css */

#LadiesCheckOut {
  margin-top: 100px;
  overflow-x: hidden;
}

#LadiesCheckOut .container {
  border: 2px solid black;
  padding: 20px 20px;
}

#LadiesCheckOut td {
  font-weight: 500;
}

#LadiesCheckOut .ladiesOrderBtn {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-size: medium;
  width: 50%;
}

#LadiesCheckOut .ladiesOrderBtn:hover {
  transition: all 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--secondary);
}

.custom-alert-container {
  position: fixed;
  top: 5px;
  margin-left: 450px;
  z-index: 9999;
}

.alert-content {
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 0px 2px 5px var(--secondary);
  color: var(--dark);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--dark);
}

.alertBtn {
  padding: 5px 50px;
  background-color: var(--primary);
  color: var(--white);
}

.alertBtn:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary);
  color: var(--dark);
}
/* Ladies CheckOut Css */

/* -------------------------------------------------------------------------- */

/* -----------------------------------------ADMIN SECTION----------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}


